<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if current_page.data.key?('meta') %>
      <% current_page.data.meta.each do |meta| %>
        <meta
          <% meta.each do |key, value| %>
            <%= "#{key}=\"#{value}\"" %>
          <% end %>
        >
      <% end %>
    <% end %>
    <title><%= current_page.data.title || "API Documentation" %></title>

    <style media="screen">
      <%= Rouge::Themes::MonokaiSublimeSlate.render(:scope => '.highlight') %>
    </style>
    <style media="print">
      * {
        transition:none!important;
      }
      <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if current_page.data.code_clipboard %>
    <script>
      $(function() { setupCodeCopy(); });
    </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="toc-wrapper">
      <svg width="200px" style="margin-left:10px" height="102px" viewBox="0 0 610 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

<title>TripExpert_Finals-54</title>
<desc>Created with Sketch.</desc>
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<g id="TripExpert_Finals-54" fill="#FFFFFF" fill-rule="nonzero">
<g id="Group" transform="translate(0.000000, 11.000000)">
<path d="M65.16,36.82 L34.07,36.82 C33.75,44.38 29.81,51.56 24.19,54.67 L24.19,55.26 L75,55.26 L75,54.67 C69.39,51.56 65.45,44.38 65.12,36.82" id="Path"></path>
<path d="M49.63,0.76 C81.09,0.76 99.24,20.98 99.24,54.33 C99.24,54.61 99.24,54.9 99.24,55.18 C94.0724106,54.4979389 89.2005225,52.3773162 85.18,49.06 C82.0897147,46.5668186 79.8527703,43.1729544 78.78,39.35 C74.31,22.92 64.71,15.57 49.66,15.35 L49.59,15.35 C34.54,15.52 24.95,22.87 20.48,39.35 C19.4045304,43.1742462 17.1639875,46.5682666 14.07,49.06 C10.0659742,52.3666407 5.21638671,54.4866032 0.07,55.18 C0.07,54.9 0.07,54.61 0.07,54.33 C0.07,20.98 18.24,0.76 49.71,0.76" id="Path"></path>
</g>
<polygon id="Path" points="175.5 11.53 153 11.53 153 77.53 138.59 77.53 138.59 11.53 116 11.53 116 0.37 175.5 0.37"></polygon>
<path d="M210.53,25.81 L206.53,38.11 C204.286493,36.8983336 201.779744,36.2561938 199.23,36.24 C191.23,36.24 186.41,42.81 186.41,53.86 L186.41,77.53 L172.68,77.53 L172.68,25.18 L186.45,25.18 L186.45,46.77 L186.65,46.77 C186.65,32.48 192.65,24.14 202.5,24.14 C205.267394,24.0942468 208.010311,24.6646914 210.53,25.81 L210.53,25.81 Z" id="Path"></path>
<path d="M215.43,2.14 L229.19,2.14 L229.19,15.14 L215.43,15.14 L215.43,2.14 Z M215.43,25.14 L229.19,25.14 L229.19,77.49 L215.43,77.49 L215.43,25.14 Z" id="Shape"></path>
<path d="M294.36,51.35 C294.36,68.45 286.54,78.57 273.36,78.57 C261.68,78.57 254.69,71.48 254.69,59.49 L254.49,59.49 L254.49,101.49 L240.76,101.49 L240.76,25.18 L254.53,25.18 L254.53,43.12 L254.73,43.12 C254.73,31.23 261.73,24.12 273.4,24.12 C286.54,24.14 294.36,34.25 294.36,51.35 Z M280.28,51.35 C280.28,41.14 275.38,35.09 267.04,35.09 C258.7,35.09 253.8,41.66 253.8,51.35 C253.8,61.04 258.7,67.62 267.04,67.62 C275.38,67.62 280.28,61.57 280.28,51.35 L280.28,51.35 Z" id="Shape"></path>
<path d="M351.8,52.92 L313.64,52.92 C314.16,62.51 318.75,68.14 326.15,68.14 C332.62,68.14 337.15,64.6 338.46,58.86 L351.8,58.86 C349.92,71.27 340.33,78.57 326.15,78.57 C309.89,78.57 300.29,68.45 300.29,51.35 C300.29,34.25 309.89,24.14 326.15,24.14 C342.21,24.14 351.8,34.14 351.8,51.35 L351.8,52.92 Z M313.74,48.23 L338.35,48.23 C337.52,39.47 333.03,34.46 326.15,34.46 C319.27,34.46 314.68,39.47 313.74,48.23 Z" id="Shape"></path>
<path d="M463.46,51.35 C463.46,68.45 455.64,78.57 442.46,78.57 C430.78,78.57 423.8,71.48 423.8,59.49 L423.59,59.49 L423.59,101.49 L409.86,101.49 L409.86,25.18 L423.63,25.18 L423.63,43.12 L423.84,43.12 C423.84,31.23 430.84,24.12 442.5,24.12 C455.64,24.14 463.46,34.25 463.46,51.35 Z M449.38,51.35 C449.38,41.14 444.48,35.09 436.14,35.09 C427.8,35.09 422.9,41.66 422.9,51.35 C422.9,61.04 427.8,67.62 436.14,67.62 C444.48,67.62 449.38,61.57 449.38,51.35 Z" id="Shape"></path>
<path d="M520.9,52.92 L482.74,52.92 C483.26,62.51 487.85,68.14 495.25,68.14 C501.72,68.14 506.25,64.6 507.56,58.86 L520.9,58.86 C519.03,71.27 509.43,78.57 495.25,78.57 C478.99,78.57 469.4,68.45 469.4,51.35 C469.4,34.25 478.99,24.14 495.25,24.14 C511.31,24.14 520.9,34.14 520.9,51.35 L520.9,52.92 Z M482.9,48.23 L507.5,48.23 C506.67,39.47 502.19,34.46 495.3,34.46 C488.41,34.46 483.78,39.47 482.85,48.23 L482.9,48.23 Z" id="Shape"></path>
<path d="M567.3,25.81 L563.3,38.11 C561.060077,36.8983856 558.556567,36.2561959 556.01,36.24 C548.01,36.24 543.18,42.81 543.18,53.86 L543.18,77.53 L529.45,77.53 L529.45,25.18 L543.21,25.18 L543.21,46.77 L543.42,46.77 C543.42,32.48 549.36,24.14 559.27,24.14 C562.037205,24.0962483 564.779687,24.6666026 567.3,25.81 Z" id="Path"></path>
<path d="M593,34.67 L593,59.9 C593,64.8 596.13,67.62 601.35,67.62 C603.784277,67.6395968 606.186748,67.0664359 608.35,65.95 L608.35,76.17 C604.769459,77.7451521 600.90169,78.5622865 596.99,78.57 C585.83,78.57 579.26,72.31 579.26,61.68 L579.26,34.68 L571.76,34.68 L571.76,25.19 L580.1,25.19 L580.1,7.67 L593.86,7.67 L593.86,12.05 C593.86,18.72 588.86,23.41 580.51,24.98 L580.51,25.18 L609.29,25.18 L609.29,34.67 L593,34.67 Z" id="Path"></path>
<path d="M396.19,58.8 C395.422881,57.3004508 394.365796,55.9680483 393.08,54.88 C389.514374,51.8837067 385.070763,50.1287258 380.42,49.88 L377.53,49.88 C372.649702,50.1406537 368.005647,52.0639137 364.37,55.33 C363.306298,56.3072553 362.42875,57.4694135 361.78,58.76 L352.1,77.42 L367.74,77.42 L379,53.34 L390.23,77.41 L405.87,77.41 L396.19,58.8 Z" id="Path"></path>
<path d="M364.94,44.91 C368.487136,47.891632 372.903726,49.6456392 377.53,49.91 L380.42,49.91 C385.046274,49.6456392 389.462864,47.891632 393.01,44.91 C394.355461,43.7743914 395.454621,42.3757699 396.24,40.8 L404.08,25.19 L389,25.19 L379,47 L369,25.17 L353.87,25.17 L361.71,40.78 C362.493082,42.3629551 363.592381,43.7685596 364.94,44.91 L364.94,44.91 Z" id="Path"></path>
</g>
</g>
</svg>

      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <ul id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= page_content %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
